.border-color, .border-bottom {
    border-color: #707070 !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}

input:focus {
    border-color: #707070 !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    background-color: #E7EEEE !important;
}

textarea:focus {
    background-color: #E7EEEE !important;
}


@media only screen and (max-width: 425px) {
        .submit-button {
        font-size: 4vw;
    }
}

.text-color {
    color: #8F9495;
}

a.text-color:hover {
    color: #fff;
}
html, body, .background-color {
    background: #E7EEEE;
}